<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Misael's Projects </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../templates/temp.css" />
    </head>

    <body class="projects-page">
        <div class="layout">
            <nav class="sidebar">
                <h2>Project Name</h2>
                <p>Project Motto</p>
                <ul class="nav-links">
                    <li><a href="../index.html">Main page</a></li>
                    <li><a href="../projects.html">Projects</a></li>
                    <li><a href="../experiences.html">Experiences</a></li>
                </ul>
            </nav>

            <section class="project-content">
                <section class="section">
                    <p>
                        Description of project
                    </p>
                    <p>
                        Description of project #2
                    </p>
                </section>

                <section class="section">
                    <h2>System Overview</h2>
                    <ul>
                        <li>System Component 1</li>
                        <li>System Component 2</li>
                        <li>System Component 3</li>
                        <li>System Component 4</li>
                        <li>System Component 5</li>
                    </ul>
                </section>

                <nav id="table-of-contents">
                    <h2>Table of Contents</h2>
                    <ul>
                        <li><a href="#V1">V1</a></li>
                        <li><a href="#V2">V2</a></li>
                        <li><a href="#V3">V3</a></li>
                        <li><a href="#V4">V4</a></li>
                    </ul>
                </nav>

                <hr>

                <section class="section">
                    <h2>Why?</h2>
                    <p>
                        Why did this project come to fruition? what problem is it trying to solve?
                    </p>
                    <hr>

                    <h2 id="V1">V1</h2>
                    <h3>System Component 1</h3>
                    <p>
                        info dump here
                    </p>

                    <h3>System Component 2</h2>
                    <img src="../imgs/rando.jpg" alt="vv" class="resized-img">
                    <p>
                        info dump here
                    </p>
                    <img src="../imgs/rando.jpg" alt="vv" class="resized-img">
                </section>

                <section class="section">
                    <h2 id="V2">V2</h2>        
                    <p>
                        info dump here
                    </p>
                    <ol>
                        <li>item 1</li>
                        <li>item 2</li>
                        <li>item 3</li>
                        <li>item 4</li>
                        <li>item 5</li>
                    </ol>
                </section>
            </section>
        </div>
    </body>
</html>